# Data and heavy outputs (raw satellite data + processed rasters)
data/*
!data/reservoir/
outputs/
*.tif
*.SAFE
*.zip

# Python/Conda
__pycache__/
*.py[cod]
*.class
venv/
.env
.DS_Store

# Large IDE folders
.vscode/
.idea/
